<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apsmobile.olxclone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OLXClone">
        <activity android:name=".activitys.DetalhesAnuncioActivity"/>
        <activity android:name=".activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.FiltrosActivity" />
        <activity android:name=".activitys.RegioesActivity" />
        <activity android:name=".activitys.EstadosActivity" />
        <activity android:name=".activitys.CategoriasActivity" />
        <activity android:name=".activitys.FormAnuncioActivity" />
        <activity android:name=".activitys.EnderecoActivity" />
        <activity android:name=".activitys.PerfilActivity" />
        <activity android:name=".autenticao.RecuperarSenhaActivity" />
        <activity android:name=".autenticao.CriarContaActivity" />
        <activity android:name=".autenticao.LoginActivity" />
        <activity android:name=".activitys.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.apsmobile.olxclone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>